@use "src/sass/sass-utils/_functions" as f;
@use "src/sass/sass-utils/_variaveis" as v;

.form-ctrl {

	& + .form-ctrl {
		margin-block-start: f.pxToRem(24);
	}

	label {
	}

	input {
		border: 2px solid transparent;
		border-radius: 6px;
		font-size: f.pxToRem(18);
		padding-block: f.pxToRem(8);
		padding-inline: f.pxToRem(8);
		width: 100%;

		&:focus {
			border-color: v.$cor-apoio;
		}

		&:not(:placeholder-shown):invalid:not(:focus) {
			& ~ span {
				display: block;
			}
		}

		&[data-dirty='true']:invalid ~ span {
			display: block;
		}
	
	}

	span[role="alert"] {
		display: none;
		color: red;
		padding-block-start: f.pxToRem(4);
	}
}